{{#partial "title"}}{{name}}{{/partial}}

{{#partial "content"}}
  <h2>{{name}}</h2>
  {{{description}}}

  {{#ifNotEmpty}}
    <h3>Table of Contents <a href="#toc" name="toc">#</a></h3>

    {{> $content}}
  {{else}}
    {{#if functions}}
      <h4>Class Functions</h4>
      {{#ul functions}}
        <a href="{{href}}">{{name}}()</a>
      {{/ul}}
    {{/if}}

    {{#if methods}}
      <h4>Instance Methods</h4>
      {{#ul methods}}
        <a href="{{href}}">.{{name}}()</a>
      {{/ul}}
    {{/if}}

    {{#if properties}}
      <h4>Instance Properties</h4>
      {{#ul properties}}
        <a href="{{href}}">.{{name}}</a>
      {{/ul}}
    {{/if}}
  {{/ifNotEmpty}}

  {{#each functions}}
    {{> function}}
  {{/each}}

  {{#each methods}}
    {{> function}}
  {{/each}}
{{/partial}}

{{> main}}
