  <h3>
    {{name}}({{#join params ", "}}{{name}}{{/join}})
    <a href="{{href}}" name="{{hash}}">#</a>
  </h3>
  {{{description}}}
  {{#with source}}
<pre>@ {{file}}:{{line}}</pre>
{{#with code}}
<pre class="brush: js; first-line: {{../line}}">
{{this}}
</pre>
{{/with}}
  {{/with}}
