  <h3>
    {{name}}({{#join params ", "}}{{name}}{{/join}})
    <a href="#{{name}}" name="{{name}}">#</a>
  </h3>
  {{{description}}}
  {{#with source}}
<pre>{{file}}</pre>
<pre class="brush: js; first-line: {{line}}">
{{{code}}}
</pre>
  {{/with}}
