{{#partial "title"}}{{name}}{{/partial}}

{{#partial "content"}}
  {{> crumbs}}
  {{{description}}}

  {{#ifNotEmpty}}
    <h3>Table of Contents <a href="#toc" name="toc">#</a></h3>

    {{> $content}}
  {{else}}
    {{#if functions}}
      <h4>Functions</h4>
      {{#ul functions}}
        <a href="{{href}}">{{name}}()</a>
      {{/ul}}
    {{/if}}

    {{#if constructors}}
      <h4>Classes</h4>
      {{#ul constructors}}
        <a href="{{href}}">{{name}}</a>
      {{/ul}}
    {{/if}}

    {{#if namespaces}}
      <h4>Namespaces</h4>
      {{#ul namespaces}}
        <a href="{{href}}">{{name}}</a>
      {{/ul}}
    {{/if}}
  {{/ifNotEmpty}}

  {{#each functions}}
    {{> function}}
  {{/each}}
{{/partial}}

{{> main}}
