{{#partial "title"}}{{name}}{{/partial}}

{{#partial "content"}}
  <h2>{{name}}</h2>
  {{{description}}}

  <h3>Table of Contents <a href="#toc" name="toc">#</a></h3>

  <h4>Functions</h4>
  {{#ul functions}}
    <a href="#{{name}}">{{name}}()</a>
  {{/ul}}

  <h4>Classes</h4>
  {{#ul classes}}
    <a href="{{../name}}/{{name}}.html">{{name}}</a>
  {{/ul}}

  <h4>Namespaces</h4>
  {{#ul namespaces}}
    <a href="{{../name}}/{{name}}.html">{{name}}</a>
  {{/ul}}

  {{#each functions}}
  <h3>
    {{name}}({{#join params ", "}}{{name}}{{/join}})
    <a href="#{{name}}" name="{{name}}">#</a>
  </h3>
  {{{description}}}
  {{/each}}
{{/partial}}

{{> main}}
