{{#partial "title"}}{{name}}{{/partial}}

{{#partial "content"}}
  <h2>{{name}}</h2>
  {{{description}}}

  <h3>Table of Contents <a href="#toc" name="toc">#</a></h3>

  {{#if functions}}
    <h4>Functions</h4>
    {{#ul functions}}
      <a href="#{{name}}">{{name}}()</a>
    {{/ul}}
  {{/if}}

  {{#if classes}}
    <h4>Classes</h4>
    {{#ul classes}}
      <a href="{{../path}}/{{../name}}/{{name}}.html">{{name}}</a>
    {{/ul}}
  {{/if}}

  {{#if namespaces}}
    <h4>Namespaces</h4>
    {{#ul namespaces}}
      <a href="{{../path}}/{{../name}}/{{name}}.html">{{name}}</a>
    {{/ul}}
  {{/if}}

  {{#each functions}}
  <h3>
    {{name}}({{#join params ", "}}{{name}}{{/join}})
    <a href="#{{name}}" name="{{name}}">#</a>
  </h3>
  {{{description}}}
  {{#with source}}
<pre>{{file}}</pre>
<pre class="brush: js; first-line: {{line}}">
{{{code}}}
</pre>
  {{/with}}
  {{/each}}
{{/partial}}

{{> main}}
